# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environment
venv/
env/
ENV/
.venv/
.ENV/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
coverage.xml
*.cover
*.py,cover
.cache
nosetests.xml
test-results.xml

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre
.pyre/

# Pytest
.pytest_cache/

# pytype
.pytype/

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# MacOS/Linux
.DS_Store
*.swp
*.swo

# Logs
*.log

# Python env config
*.env
.env.*
.envrc

# Local builds
build/
dist/
*.egg-info/
.eggs/
